# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build artifacts
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Local environment files
.env*.local
.env

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Large temporary archives
data/*.zip
data/raw/*.zip
